@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Raleway", sans-serif;
  --font-secondary: "Roboto Slab", serif;

  
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html, body {
    @apply h-full w-full bg-gray-100 text-gray-900 antialiased;
  }

  #root {
    @apply flex flex-1 flex-col min-h-screen font-main;
  }
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */